<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protótipo</title>
    <link rel="stylesheet" href="static/css/global.css">
    <link rel="stylesheet" href="static/css/style-index.css">
</head>
<nav>
<a id="cimae" href="inicio">Início</a>
<a id="cimae" href="form">Formulario</a>

<a id="cimae" class="logout" href="/logout">Logout</a>


</nav>
<body>
    <div class="div1">
        <h3><center>Biblioteca Virtual</h3> </center> 
        <div class="samuel">
            {% block grafico_altair %}
                {{ grafico_altair | safe }}
            {% endblock %}


           
            
        </div>

        
    </div>
      
</body>
</html>